@media only screen and (min-width: 768px) {
  .app {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .frontapp {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.desktopmenu {
  margin-bottom: 10px;
}

.frontapp {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .mobilemenu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #logoutname {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .desktopmenu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .bottommenu {
    display: none;
  }
}

.app {
  padding-bottom: 70px;
  padding-right: 5px;
  padding-left: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.1);
}

/* Add some padding inside the card container  //margin-bottom: 30px  margin-top: 30px; background-color: #697A90;

;
 */
.container {
  padding: 2px 16px;
}

.navbar {
  width: 100%;
  display: flex;
}
.imagesleft {
  float: left;
  margin-left: 45px;
}
.imagesright {
  float: right;
  margin-left: auto;

  margin-right: 45px;
}

.question {
  font-size: 20px;
  font-weight: 600;
}

.pollstats {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.progressbar {
  background-color: #ededee;
  border-radius: 15px;
}

.progressbar > div {
  background-color: #737b81;
  height: 5px;
  border-radius: 15px 0px 0px 15px;
}

.polloption {
  cursor: pointer;
  margin-bottom: 15px;
  border-left: 3px solid #d3d3d3;
  padding: 3px;
  padding-left: 7px;
}

.answer {
  margin-bottom: 10px;
  width: 100%;
  display: inline;
}

.parent {
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: auto;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  box-sizing: border-box;
  grid-row-gap: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 15px;
}

.modal-content {
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  max-width: 250px;
  right: 50px;
  top: 74px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.dropdown-contentmob {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  max-width: 250px;

  bottom: 80px;
  right: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.dropdown-content2 {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  max-width: 400px;
  left: 30px;
  bottom: 75px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.line {
  display: inline-block;
  width: 100%;
}

.identifier {
  float: left;
}

.value {
  float: right;
}

.button {
  background-color: #192841; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nodecor:hover {
  text-decoration: none;
}

.coloredbutton {
  background-color: #3e546f; /* Green */
  border-radius: 8px;
  border: none;
  color: white;
  padding: 4px 20px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
