.claimcard{
    background-color:white;
    border:solid 1px rgb(231, 231, 231);
    border-radius:15px;
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    margin-top:15px;
    box-shadow: 1px 1px hsla(0, 0%, 53%, 0.377);
}

.claimbutton{
    background-color:white;
    border:solid 1px black;
    border-radius:10px;
    font-size:14px;
    padding:5px 10px 5px 10px;
}

.claimcardtitle{
    font-weight:700;
    font-size:16px;
}

.claimcarddescription{
    color:gray;
    font-size:14px;
    margin-bottom:5px;
}

.claimamounts{
    color:gray;
    font-size:14px;
}

.buttonrow{
    margin-top:15px;
}

.buttonsright{
    float:right;
    color:rgb(201, 201, 201);
}

.buttonsright > * {
    margin-left:10px;
}

.claimheaderbuttonrow{
    float:right;
}